@model ImcModel

@{
    ViewData["Title"] = "Imc";
}

@{
    Layout = "../Shared/_LayoutLogada.cshtml";
}

<p> @ViewData["Faixa"]</p>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        body {
            background-color: #f7f7ff;
        }

        #tudo {
            margin: 0px 130px 0px 130px;
        }

        #formulario {
            margin: 20px 300px 0px 300px;
        }

        .btn1 {
            float: right;
        }
    </style>
</head>
<body>


    <!--FORMULÁRIO-->
    <table>
        <div>
           
        </div>
    </table>
    <div id="tudo">
        <div id="formulario">
            <div class="form-group">
                <label for="exampleInputEmail1"> Peso: </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Peso" placeholder="Digite o peso">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Altura: </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="Altura" placeholder="Digite a nova altura">
            </div>
            <button type="button" class="btn btn-primary btn1">Verificar</button>
        </div>
    </div>
</body>
</html>