@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<h3>



</h3>
<div class="row" id="txt">
    <h4>    Os desenvolvedores pensaram especialmente nas necessidades de pacientes diabéticos e hipertensos e nas dificuldades desses pacientes em serem acompanhados e aconselhados de forma correta. Pensando nisso, foi criado o Mais Saúde, um site especial de acompanhamento desses pacientes especiais, com dietas, exercícios e advertências em relação a peso, IMC, nível glicêmico e pressão. </h4>
</div>

<style>
    .txt {
        margin-left: 15px;
    }
</style>
