<h2>Meu primeiro projeto ASP MVC</h2>

@model HomeModel 
<table> 
   
    <tr>
        <td> Id </td>
        <td> Nome </td>
    </tr>

    @{
        foreach (var item in
            (List<HomeModel>) ViewBag.Lista)

            {
    <tr>
        <td> @item.Id.ToString() </td>
        <td> @item.Nome.ToString() </td>
    </tr>

        }
     }

</table>