@{
    ViewData["Title"] = "Diabetico";
}
@{
    Layout = "../Shared/_LayoutLogada.cshtml";
}
<head>
    <style>
        .num {
            margin-left: 1px;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <center>
        <h1>DIETAS PARA DIABÉTICOS <i class="fa fa-cutlery" aria-hidden="true"></i></h1>

        <h2 style="color: #ffffff;">&nbsp;</h2>
        <table style="height: 1109px; width: 1003px;" border="2">
            <tbody>
                <tr style="height: 20px; background-color: #95d6bc;">
                    <td style="width: 33px; height: 20px;"><strong>N&deg;</strong></td>
                    <td style="width: 219px; height: 20px; text-align: center;"><strong>Caf&eacute; da Manh&atilde;</strong></td>
                    <td style="width: 202px; height: 20px; text-align: center;"><strong>Almo&ccedil;o</strong></td>
                    <td style="width: 198px; height: 20px; text-align: center;"><strong>Janta</strong></td>
                    <td style="width: 212px; height: 20px; text-align: center;"><strong>Lanche(3x)</strong></td>
                    <td style="width: 97px; height: 20px; text-align: center;"><strong>Calorias</strong></td>
                </tr>
                <tr style="height: 3px;">
                    <td style="width: 33px; height: 3px; background-color: #95d6bc;">1</td>
                    <td style="width: 219px; height: 3px;background-color: #ffffff">- copo de leite desnatado<br />- 1 colher de caf&eacute; de caf&eacute;<br />sol&uacute;vel com ado&ccedil;ante<br />- 2 fatias de p&atilde;o integral<br />- 1 fatia de queijo prato<br />- 1 colher de ch&aacute; de<br />margarina light<br />- 1 fatia grande de mam&atilde;o</td>
                    <td style="width: 202px; height: 3px;background-color: #ffffff">- salada mista de alface,<br />pepino e tomate &agrave; vontade<br />- 4 colheres de sopa de<br />chuchu refogado com milho<br />- 1 bife acebolado<br />- 2 colheres de sopa de arroz<br />- 1 concha de feij&atilde;o</td>
                    <td style="width: 198px; height: 3px;background-color: #ffffff">- salada de abobrinha &agrave;<br />vontade<br />- 4 colheres de sopa de couveflor<br />com cenoura refogados<br />- 1 coxa com sobrecoxa sem<br />pele de frango assado<br />- 1 pegador de macarr&atilde;o com<br />molho de tomate</td>
                    <td style="width: 212px; height: 3px;background-color: #ffffff">- 1 banana prata<br />- 1 iogurte natural com<br />ado&ccedil;ante<br />---------------------------------<br />- suco de abacaxi (com<br />ado&ccedil;ante, se necess&aacute;rio)<br />- 4 bolachas integrais<br />---------------------------------<br />- gelatina diet</td>
                    <td style="width: 97px; height: 3px;background-color: #ffffff">1500</td>
                </tr>
                <tr style="height: 81px;">
                    <td style="width: 33px; height: 81px; background-color: #95d6bc;">2</td>
                    <td style="width: 219px; height: 81px;background-color: #ffffff">- 2 fatias de p&atilde;o de forma<br />integral<br />- 1 colher de sopa de<br />manteiga com sal light<br />- 1 x&iacute;cara de ma&ccedil;&atilde; fatiada<br />- 1 x&iacute;cara de ch&aacute; ou caf&eacute;<br />sem a&ccedil;&uacute;car<br />- 235ml de &aacute;gua</td>
                    <td style="width: 202px; height: 81px;background-color: #ffffff">- salada com 2 colheres de<br />sopa de tempero<br />- 120g de atum<br />- 200ml de suco natural de<br />laranja<br />- &frac12; concha de feij&atilde;o carioca</td>
                    <td style="width: 198px; height: 81px;background-color: #ffffff">- salada com 2 colheres de<br />sopa de tempero<br />- 115g de peito de frango<br />grelhado sem pele<br />- &frac12; concha de feij&atilde;o preto<br />- 350ml de &aacute;gua</td>
                    <td style="width: 212px; height: 81px;background-color: #ffffff">- &frac12; x&iacute;cara de amoras<br />---------------------------------<br />- 1 &frac12; x&iacute;cara de morangos<br />fatiados</td>
                    <td style="width: 97px; height: 81px;background-color: #ffffff">1000</td>
                </tr>
                <tr style="height: 81px;">
                    <td style="width: 33px; height: 81px; background-color: #95d6bc;">3</td>
                    <td style="width: 219px; height: 81px;background-color: #ffffff">- 2 fatias de p&atilde;o de forma<br />integral recheadas com 1<br />banana pequena<br />- 150ml de suco natural de<br />laranja</td>
                    <td style="width: 202px; height: 81px;background-color: #ffffff">- 1 p&atilde;o franc&ecirc;s integral<br />recheado com 70g de atum<br />e 10g de maionese light<br />- salada com 50g de alface,<br />10g de cebola e 50g de<br />piment&atilde;o vermelho<br />- 1 copo de &aacute;gua</td>
                    <td style="width: 198px; height: 81px;background-color: #ffffff">- 70g de peito de frango<br />grelhado sem pele<br />- 50g de br&oacute;colis cozidos<br />- 50g de cenouras<br />- 100g de batata-doce com<br />casca assada</td>
                    <td style="width: 212px; height: 81px;background-color: #ffffff">- 170g de iogurte de<br />mam&atilde;o zero gorduras<br />com &frac12; colher de ch&aacute; de<br />linha&ccedil;a<br />---------------------------------<br />- 1 ma&ccedil;&atilde; m&eacute;dia<br />---------------------------------<br />- 1 mini p&atilde;o franc&ecirc;s<br />integral com 1 colher de<br />sopa de queijo cottage<br />- 1 copo de &aacute;gua</td>
                    <td style="width: 97px; height: 81px;background-color: #ffffff">1000</td>
                </tr>
                <tr style="height: 17.4219px;">
                    <td style="width: 33px; height: 17.4219px; background-color: #95d6bc;">4</td>
                    <td style="width: 219px; height: 17.4219px;background-color: #ffffff">- 1 copo de leite desnatado<br />- 1 unidade de p&atilde;o franc&ecirc;s<br />sem miolo<br />- 1/3 de colher de sopa<br />margarina sem sal<br />- 1 colher de sopa de<br />am&ecirc;ndoas sem casca<br />- 1 x&iacute;cara de ch&aacute; ou caf&eacute;<br />com um envelope de<br />ado&ccedil;ante</td>
                    <td style="width: 202px; height: 17.4219px;background-color: #ffffff">- 3 colheres de sopa de arroz<br />integral<br />- 70g de peito de frango<br />grelhado sem pele<br />- 100g de couve refogada<br />- 50g de cenoura<br />-50g de tomate<br />- 1 folha grande de alface</td>
                    <td style="width: 198px; height: 17.4219px;background-color: #ffffff">- 3 colheres de sopa de arroz<br />integral<br />- 100g de lombo bovino<br />- 1 x&iacute;cara de couve-flor cozida<br />- 1 colher de sopa de lentilhas<br />- 1 x&iacute;cara de pepino fatiado<br />descascado<br />- 1 folha grande de alface<br />- &frac12; chuchu</td>
                    <td style="width: 212px; height: 17.4219px;background-color: #ffffff">- 1 mam&atilde;o pequeno<br />---------------------------------<br />- 1 laranja<br />- ch&aacute; com um envelope<br />de ado&ccedil;ante<br />---------------------------------<br />- &frac12; banana-nanica</td>
                    <td style="width: 97px; height: 17.4219px;background-color: #ffffff">1000</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
