
@{
    ViewData["Title"] = "Hipertenso";
}
@{
    Layout = "../Shared/_LayoutLogada.cshtml";
}
<head>
    <style>
        .num {
            margin-left: 1px;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <center>
        <h1>DIETAS PARA HIPERTENSOS <i class="fa fa-cutlery" aria-hidden="true"></i></h1>

        <h2 style="color: #2e6c80;">&nbsp;</h2>
        <table style="height: 313px; width: 586px;" border="2">
            <tbody>
                <tr style="height: 20px; background-color: #ffffff;">
                    <td style="width: 26px; height: 20px;background-color: #95d6bc"><strong>N&deg;</strong></td>
                    <td style="width: 132px; height: 20px; text-align: center;  background-color: #95d6bc;"><strong>Caf&eacute; da Manh&atilde;</strong></td>
                    <td style="width: 153px; height: 20px; text-align: center;background-color: #95d6bc; "><strong>Almo&ccedil;o/Janta</strong></td>
                    <td style="width: 138px; height: 20px; text-align: center;background-color: #95d6bc;"><strong>Lanche(3x)</strong></td>
                    <td style="width: 129px; height: 20px; text-align: center;background-color: #95d6bc;"><strong>Calorias</strong></td>
                </tr>
                <tr style="height: 43.8438px;">
                    <td style="width: 26px; height: 43.8438px; background-color: #95d6bc;">1</td>
                    <td style="width: 132px; height: 43.8438px;  background-color: #ffffff;">- leite desnatado<br />- p&atilde;o integral com queijo minas</td>
                    <td style="width: 153px; height: 43.8438px;background-color: #ffffff">- frango ao forno<br />- 4 colheres de sopa de arroz<br />- 2 colheres de sopa de feij&atilde;o<br />- salada crua de alface, tomate e<br />pepino</td>
                    <td style="width: 138px; height: 43.8438px;background-color: #ffffff">- 1 ma&ccedil;&atilde;<br />- 2 castanhas<br />-----------------------------<br />- iogurte desnatado com<br />linha&ccedil;a<br />- 4 torradas integrais com<br />ricota</td>
                    <td style="width: 129px; height: 43.8438px;background-color: #ffffff">1200</td>
                </tr>
                <tr style="height: 85px;">
                    <td style="width: 26px; height: 85px; background-color: #95d6bc;">2</td>
                    <td style="width: 132px; height: 85px;  background-color: #ffffff;">- iogurte desnatado<br />- cereais integrais de aveia</td>
                    <td style="width: 153px; height: 85px;background-color: #ffffff">- frango em cubos com molho de<br />tomate<br />- macarr&atilde;o integral<br />- piment&atilde;o, cebola, azeitona,<br />cenoura ralada e br&oacute;colis</td>
                    <td style="width: 138px; height: 85px;background-color: #ffffff">- vitamina de abacate com<br />leite desnatado<br />-----------------------------<br />- suco de morango<br />- 4 biscoitos integrais</td>
                    <td style="width: 129px; height: 85px;background-color: #ffffff">1200</td>
                </tr>
                <tr style="height: 184px;">
                    <td style="width: 26px; height: 184px; background-color: #95d6bc;">3</td>
                    <td style="width: 132px; height: 184px;  background-color: #ffffff;">- leite desnatado com caf&eacute;<br />- torradas integrais com<br />margarina</td>
                    <td style="width: 153px; height: 184px;background-color: #ffffff">- peixe cozido<br />- 2 batatas m&eacute;dias<br />- salada de cebola, vagem e milho</td>
                    <td style="width: 138px; height: 184px;background-color: #ffffff">- 1 banana com flocos de aveia<br />- suco verde de couve<br />- 1 p&atilde;o integral com queijo</td>
                    <td style="width: 129px; height: 184px;background-color: #ffffff">1000</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
