@{
    ViewData["Title"] = "Exercicio Aerobico";
}
@{
    Layout = "../Shared/_LayoutLogada.cshtml";
}

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <h1>EXERCÍCIOS AERÓBICOS <i class="fa fa-heartbeat" aria-hidden="true"></i></h1>

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> BOXE <i class="fa fa-hand-rock-o fa-1x" aria-hidden="true"></i></h3>
    <h4>(Cerca de 11kcal/minuto)</h4>
    É considerado um exercício completo por trabalhar com vários grupamentos musculares e fortalecê-los, além de proporcionar a sensação de bem-estar, melhorar a coordenação e condicionamento físico.
    Ele é um esporte dinâmico, além disso, vai trabalhar muito a coordenação motora e o reflexo rápido, daqueles em que você precisa pensar em como se defender, atacar, movimentar os pés e ainda assim ficar de pé. Ele trabalha todos os músculos do corpo, isso porque eles agem como um só.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> CAMINHADA <i class="fa fa-road" aria-hidden="true"> </i></h3>
    <h4>(Cerca de 5,5kcal/min)</h4>
    É o exercício mais simples de ser feito. Movimenta o corpo inteiro, há risco mínimo de lesões e ajuda na queima da gordura abdominal.
    A caminhada é fácil de ser praticada, seja na esteira da sua casa, ao redor da quadra de onde você mora, em um parque ou em qualquer lugar. Outro ponto positivo da caminhada é de que você não precisa de roupas ideais, apenas um tênis confortável que vá proteger o seu pé e ânimo.
    Você pode fazer esteira na sua casa enquanto assiste televisão, enquanto vê séries ou até mesmo enquanto lê livros. Na rua ou na academia, pode ter um parceiro(a) do seu lado, uma boa música ou qualquer coisa que te incentive a praticar o exercício.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> CORRIDA <i class="fa fa-road" aria-hidden="true"></i></h3>
    <h4>(De 500 a 900 kcal/hora)</h4>
    Tanto corridas curtas e rápidas como constantes e com velocidades lentas a moderadas de longo percurso aumentam o metabolismo, ajudam a perder peso e melhoram o condicionamento físico.
    A corrida, assim como a caminhada, é fácil de ser feita, tudo o que você precisa é apenas escolher um terreno adequado, ter uma esteira em casa ou se matricular em uma academia. É preciso ter atenção na hora de correr, principalmente se você está muito acima do peso, isso porque podem acontecer lesões pelo excesso de peso no joelhe e outras juntas.
    É sempre muito importante procurar um profissional antes de começar executar qualquer exercício físico, seja um personal trainer, um médico
    especialista ou um instrutor de academia, só eles poderão te falar o que é mais indicado para o seu caso em específico.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> DANÇAR <i class="fa fa-headphones" aria-hidden="true"></i></h3>
    <h4>(Cerca de 605kcal/hora)</h4>
    Faz o corpo gastar muita energia, além de desenvolver o raciocínio e a expressão corporal. É também uma forma de aperfeiçoar a coordenação e a concentração.
    A dança é um esporte que inclui vários tipos, pode ser a Zumba, dança de salão, hip hop, salsa, jazz, ballet e muito mais, o que você precisa é apenas encontrar aquela da qual você mais se identifica e se sente à vontade.
    Com a dança você consegue ter muito mais desenvoltura, conhecer o seu próprio corpo e suas dimensões, além de ficar muito mais autoconfiante em relação à vida no geral. Que tal começar hoje mesmo?

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> HIDROGINÁSTICA <i class="fa fa-tint" aria-hidden="true"></i></h3>
    <h4>(Cerca de 6kcal/min)</h4>
    É de baixo impacto e, além de emagrecer, melhora a capacidade respiratória, a circulação sanguínea e o humor. Ela é muito executada por pessoas que estão muito acima do peso ou tem problemas nas juntas, isso porque, o impacto não é tão grande no corpo e não há o risco de lesões acontecerem.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> JUMP <i class="fa fa-music" aria-hidden="true"></i></h3>
    <h4>(Até 900cal/hora)</h4>
    Aulas que trabalham a coordenação motora, o equilíbrio e oferece melhorias no sistema cardiorrespiratório e o fortalecimento dos músculos.
    Esse é um exercício físico que pode ser feito na sua casa, tudo o que você precisa é de um step, de um tênis confortável e pronto, coloque uma coreografia que você pode encontrar gratuitamente no YouTube e solte o corpo. Você pode queimar muitas calorias ao praticar jump, tudo o que preciso é cuidado e fazer um bom alongamento previamente.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> MUAY THAI <i class="fa fa-hand-rock-o" aria-hidden="true"></i></h3>
    <h4>(Cerca de 750cal/hora)</h4>
    Trabalha vários grupos musculares, fortalecendo-os, aumenta a resistência cardiovascular, melhora a coordenação motora e o condicionamento físico, sem contar que é uma ótima opção contra o estresse.
    Essa luta tem origem tailandesa e ganhou força aqui no Brasil, principalmente porque o Muay Thai pode ser executado tanto por mulheres quanto por homens, tudo o que basta é a força de vontade para ir até o local e treinar.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> NATAÇÃO <i class="fa fa-tint" aria-hidden="true"></i></h3>
    (Cerca de 9kcal/min)
    Excelente para o condicionamento cardiovascular, flexibilidade muscular e por movimentar o corpo inteiro.
    A natação é um esporte indicado para pessoas de todas as idades, isso porque ele não vai machucar o seu corpo, isso porque é feito dentro d’água, diminuindo as possíveis lesões que o seu corpo pode sofrer, potencializando os seus músculos e o crescimento de todo ele, além disso, você ainda vai aprender a nadar.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> PEDALAR <i class="fa fa-bicycle" aria-hidden="true"></i></h3>
    <h4>(Cerca de 6kcal/min)</h4>
    Alivia o estrese, melhora o fôlego, modela as pernas e ajuda na queima da gordura abdominal.
    Esse exercício pode ser executado na sua casa, caso você tenha uma bicicleta ergométrica, pode ser executado em uma academia, ou você pode começar a ir para o trabalho e para outros locais com a sua bike. Você com certeza vai começar a sentir o seu corpo mudando e ficando muito mais forte, isso porque esse exercício fortalece o corpo como um todo.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> PULAR CORDA <i class="fa fa-superpowers" aria-hidden="true"></i></h3>
    <h4>(Até 800cal/hora)</h4>
    Modela curvas, estimula o sistema cardiorrespiratório, elimina as toxinas do corpo e combate a celulite.
    A corda também é um exercício de fácil execução e que pode ser feito em sua casa, tudo o que você precisa é comprar o acessório que é a corda, ou apenas executar o movimento, sem ter a corda em si. É necessário atenção e coordenação motora, porém isso vai se desenvolvendo com o passar do tempo e da prática.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> SPINNING <i class="fa fa-spinner" aria-hidden="true"></i></h3>
    <h4>(Até 900cal/hora)</h4>
    Melhora o sistema cardíaco e respiratório, diminui o colesterol, diminui a glicose no sangue, fortalece os músculos, as pernas, abdômen e o bumbum.
    O spinning também é uma aula super dinâmica e divertida, isso porque você vai estar com músicas potentes no seu ouvido, um professor ou professora te incentivando a dar o seu máximo na prática do exercício e ainda assim sentir todo o seu corpo trabalhando, principalmente o seu abdômen.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> STEP <i class="fa fa-cubes" aria-hidden="true"></i></h3>
    <h4>(Até 300cal/45min)</h4>
    Tonifica o corpo, fortalece os músculos e as articulações, melhora o condicionamento e a autoestima.
    Exercícios aeróbicos para emagrecer são grandes aliados para sua vida! Não esqueça da alimentação saudável e de um bom estilo de vida para garantir maiores resultados.

</body>