@model UsuarioModel
@{
    Layout = "../Shared/_LayoutLogado1.cshtml";
}



<!--

(RAZOR)
     var vA = " ";
     var vI = " ";
     var vAC = " ";
     var vO = " ";
     UsuarioModel dado = new UsuarioModel();
     double imc = dado.CalcularIMC();

     vA = ViewBag.abaixo.ToString();
     vI = ViewBag.ideal.ToString();
     vAC = viewBag.acima.ToString();
     vO =ViewBag.obeso.ToString();
}


    //if (imc < 18.5)
<p> vA </p>


    //else if (imc >= 18.5 && imc <= 24.9)
<p> vI</p>


    //else if (imc >= 25 && imc <= 29.9)
<p>vAC</p>


    //else if (imc > 30)
<P> vO</P>-->

<h3> Atualizar dados!</h3>
<form asp-controller="Usuario" asp-action="CalcularIMC" class="form-horizontal" style="margin-left:15%">

    <div class="form-group">
        <label class="control-label col-sm-2" for="nome">Peso:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" asp-for="Peso" id="nome" placeholder="Informe seu peso">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="cpf">Altura:</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" asp-for="Altura" id="nome" placeholder="Informe sua Altura">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-block btn-info"> Ok</button>
        </div>
    </div>


</form>

