.tudo {
    margin: 50px 100px 50px 100px;
}

#nomeCad, #sobrenomeCad {
    width: 240px;
}

#emailCad, #senhaCad {
    width: 490.5px;
}

#nomeC {
    float: left;
    margin-right: 10px;
}

#formCad {
    float: left;
    margin-right: 150px;
}

.nasc {
    float: left;
    margin-right: 10px;
}

.msg, , #cadastro {
    float:  left;
}