@{
    ViewData["Title"] = "Exercicio Anaerobico";
}
@{
    Layout = "../Shared/_LayoutLogada.cshtml";
}

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <h1>EXERCÍCIOS ANAERÓBICOS <i class="fa fa-heartbeat" aria-hidden="true"></i></h1>

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> LEVANTAR PESOS <i class="fa fa-rebel" aria-hidden="true"></i></h3>
    <h4>(Até 455cal/hora)</h4>
    O levantamento de peso é um excelente exercício anaeróbico. Para evitar lesões, você precisará adaptar o peso e o ritmo de trabalho às suas condições físicas, por isso recomendamos que você vá para uma academia onde tenha a assistência de um instrutor que lhe aconselhe. As questões que você tem de saber são como proteger as mãos ao levantar peso e a postura que deve adotar para fazê-lo.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> ABDOMINAIS <i class="fa fa-male" aria-hidden="true"></i></h3>
    <h4>(Até 50cal/5min)</h4>
    As diferentes variedades de trabalhar seus músculos abdominais são dos melhores exercícios anaeróbicos que existem. Além disso, irão permitir-lhe desenvolver uma das partes da musculatura que mais ajudam a melhorar nosso aspecto físico. Neste link sobre abdominais você encontrará diversos conselhos sobre como praticá-los para não se machucar ou para conseguir atingir objetivos específicos.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> PULAR <i class="fa fa-level-up" aria-hidden="true"></i></h3>
    <h4>(Até 1074cal/hora)</h4>
    É outro dos melhores exercícios anaeróbicos. Com a simples ajuda de uma corda, você poderá aproveitar todos os benefícios desta forma de praticar atividade física, desenvolvendo os músculos de suas pernas. Você deverá pular em um ritmo forte e escolher um comprimento de corda que se adapte às medidas de seu corpo.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> CORRIDA DE VELOCIDADE <i class="fa fa-bolt" aria-hidden="true"></i></h3>
    <h4>(Até 755cal/hora)</h4>(Até 755cal/hora)
    O trote leve é uma atividade aeróbica, mas não acontece o mesmo com os sprints ou corridas de velocidade, que são um dos melhores exercícios anaeróbicos. O impacto que suas articulações recebem ao fazer estes treinamentos é muito alto, por isso recomendamos que você corra por zonas preparadas, como uma pista de atletismo.

    <h3><i class="fa fa-caret-right" aria-hidden="true"></i> CROSSFIT <i class="fa fa-crosshairs" aria-hidden="true"></i></h3>
    <h4>(Cerca de 1305cal/hora)</h4>
    O crossfit é um método de treinamento que cada vez tem ganhado mais adeptos e que se caracteriza por sua alta exigência. Combina muitos exercícios anaeróbicos, por isso é ideal se o que você procura é este tipo de trabalho para seu corpo.

</body>
